<!--
    날짜 : [2023-02-17]
    작성자 : 서범규

    comment :
    [ instagram 퍼블리싱입니다. ]

-->

            <%- include('include/header') %>
                <!-- content_contain -->
                <div class="content_contain sub_page">
                    <ul class="grid_st1">
                        <li class="img_item video">
                            <a href="#" onclick="modal(this,'photo')">
                                <div class="img_con">
                                    <div class="img_thumb" style="background-image:url('/images/img_video_thumb.jpg') ;"></div>
                                </div>
                            </a>
                        </li>
                        <li class="img_item">
                            <a href="#">
                                <div class="img_con">
                                    <div class="img_thumb" style="background-image:url('/images/img_dummy01.jpg');"></div>
                                </div>
                            </a>
                        </li>
                        <li class="img_item">
                            <a href="#">
                                <div class="img_con">
                                    <div class="img_thumb" style="background-image:url('/images/img_dummy05.jpg');"></div>
                                </div>
                            </a>
                        </li>
                        <li class="img_item">
                            <a href="#">
                                <div class="img_con">
                                    <div class="img_thumb" style="background-image:url('/images/img_dummy03.jpg');"></div>
                                </div>
                            </a>
                        </li>
                        <li class="img_item">
                            <a href="#">
                                <div class="img_con">
                                    <div class="img_thumb" style="background-image:url('/images/img_dummy04.jpg');"></div>
                                </div>
                            </a>
                        </li>
                        <li class="img_item video">
                            <a href="#">
                                <div class="img_con">
                                    <div class="img_thumb" style="background-image:url('/images/img_video_thumb.jpg') ;"></div>
                                </div>
                            </a>
                        </li>
                        <li class="img_item">
                            <a href="#">
                                <div class="img_con">
                                    <div class="img_thumb" style="background-image:url('/images/img_dummy01.jpg');"></div>
                                </div>
                            </a>
                        </li>
                        <li class="img_item">
                            <a href="#">
                                <div class="img_con">
                                    <div class="img_thumb" style="background-image:url('/images/img_dummy02.jpg');"></div>
                                </div>
                            </a>
                        </li>
                        <li class="img_item">
                            <a href="#">
                                <div class="img_con">
                                    <div class="img_thumb" style="background-image:url('/images/img_dummy03.jpg');"></div>
                                </div>
                            </a>
                        </li>
                        <li class="img_item">
                            <a href="#">
                                <div class="img_con">
                                    <div class="img_thumb" style="background-image:url('/images/img_dummy04.jpg');"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- content_contain -->
            

<div class="modal_wrap" id="myModal" onclick="modal('','close')">
    <div class="modal_inner" id="test">
        <dl>
            <dt class="modal_media_body">
                <!-- 이미지 혹은 동영상 (복수일경우 slider) slider 미구현 -->
                <!-- <img src="/images/img_modal.jpg"> -->
                <!--div class="img_thumb" id="modal_media_body">
                    <div class="img_con" style="background-image:url('/images/img_dummy05.jpg');"></div>
                </div-->
                <img class="modal_media" id="modal_media" src="/images/img_dummy05.jpg">
            </dt>
            <dd class="modal_media_comment">
                <div class="comment_header">
                    <div class="img_thumb_box">
                        <a href="#"><div class="img_thumb" style="background-image: url(/images/img_profile.jpg);"></div></a>
                    </div>
                    <p><a href="profile.html" >lesserafim_kazuha</a></p>
                    <span><a href="profile.html">팔로우</a></span>
                    <div class="option">
                        <svg aria-label="옵션 더 보기" class="_ab6-" color="rgb(38, 38, 38)" fill="rgb(38, 38, 38)" height="24" role="img" viewBox="0 0 24 24" width="24"><circle cx="12" cy="12" r="1.5"></circle><circle cx="6" cy="12" r="1.5"></circle><circle cx="18" cy="12" r="1.5"></circle></svg>
                    </div>
                </div>
                <div class="comment_list">
                    <ul>
                        <li>
                            <div class="img_thumb_box">
                                <a href="#"><div class="img_thumb" style="background-image: url(/images/img_profile.jpg);"></div></a>
                            </div>
                            <div class="comment_txt">
                                <h2>lesserafim_kazuha</h2>
                                오늘 할 무대가 핸드마이크라서 핸드를 들면서 연습하는 아이돌 어때😘<br/>
                                <br/>
                                <a class="hash" href="#">#KAZUHA</a> <a class="hash" href="#">#카즈하</a><br/>
                                <a class="hash" href="#">#LE_SSERAFIM</a> <a class="hash">#르세라핌</a><br/>
                            </div>
                        </li>
                        <li>
                            <div class="img_thumb_box">
                                <a href="#"><div class="img_thumb" style="background-image: url(/images/img_profile.jpg);"></div></a>
                            </div>
                            <div class="comment_txt">
                                <h2>bomkyu</h2>
                                asdasdasdasdasd<br/>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="comment_write">

                </div>
            </dd>
        </dl>
    </div>
</div>

<%- include('include/footer') %>