<!--
    날짜 : [2023-02-17]
    작성자 : 서범규

    comment :
    [ instagram 퍼블리싱입니다. ]

-->

            <%- include('include/header') %>
                <!-- content_contain -->
                <div class="content_contain">
                    <section>
                        <!-- top -->
                        <div class="top">
                            <ul>
                                <li>
                                    <div class="img_wrap">
                                        <div class="new"></div>
                                        <div class="img_content" style="background-image:url('/images/img_profile.jpg');"></div>
                                    </div>
                                    <p class="user_name">lesserafim_kazuha</p>
                                </li>
                                <li>
                                    <div class="img_wrap">
                                        <div class="new"></div>
                                        <div class="img_content" style="background-image:url('/images/img_profile.jpg');"></div>
                                    </div>
                                    <p class="user_name">lesserafim_kazuha</p>
                                </li>
                                <li>
                                    <div class="img_wrap">
                                        <div class="new"></div>
                                        <div class="img_content" style="background-image:url('/images/img_profile.jpg');"></div>
                                    </div>
                                    <p class="user_name">lesserafim_kazuha</p>
                                </li>
                                <li>
                                    <div class="img_wrap">
                                        <div class="new"></div>
                                        <div class="img_content" style="background-image:url('/images/img_profile.jpg');"></div>
                                    </div>
                                    <p class="user_name">lesserafim_kazuha</p>
                                </li>
                                <li>
                                    <div class="img_wrap">
                                        <div class="new"></div>
                                        <div class="img_content" style="background-image:url('/images/img_profile.jpg');"></div>
                                    </div>
                                    <p class="user_name">lesserafim_kazuha</p>
                                </li>
                                <li>
                                    <div class="img_wrap">
                                        <div class="new"></div>
                                        <div class="img_content" style="background-image:url('/images/img_profile.jpg');"></div>
                                    </div>
                                    <p class="user_name">lesserafim_kazuha</p>
                                </li>
                            </ul>
                        </div>
                        <!-- //top -->
                        
                        <!-- main_list -->
                        <div class="main_list">
                            <!-- list_st -->
                            <ul class="list_st">
                                <li>
                                    <div class="list_inner">
                                        <div class="list_header">
                                            <div class="user_img_wrap">
                                                <div class="user_img_con" style="background-image: url('/images/img_profile.jpg');"></div>
                                            </div>
                                            <dl>
                                                <dt class="name">lesserafim_kazuha</dt>
                                                <dd class="date">1일</dd>
                                                <dd class="fallow"><a href="#">팔로우</a></dd> <!--팔로우가 안되있을때 보여줌-->
                                            </dl>
                                            <span>
                                                <svg aria-label="옵션 더 보기" class="_ab6-" color="rgb(38, 38, 38)" fill="rgb(38, 38, 38)" height="24" role="img" viewBox="0 0 24 24" width="24"><circle cx="12" cy="12" r="1.5"></circle><circle cx="6" cy="12" r="1.5"></circle><circle cx="18" cy="12" r="1.5"></circle></svg>
                                            </span>
                                        </div>
                                        <div class="list_img">
                                            <div class="view_img" style="background-image: url('../images/img_list01.jpg');"></div>
                                        </div>
                                        <div class="list_content">
                                            <div class="btns">
                                                <span>
                                                    <button class="bt_like " onclick="icon_click(this, 'like')">
                                                        <svg aria-label="좋아요" class="_ab6-" color="rgb(38, 38, 38)" fill="rgb(38, 38, 38)" height="24" role="img" viewBox="0 0 24 24" width="24"><path d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z"></path></svg>
                                                        <svg aria-label="좋아요 취소" class="_ab6-" color="rgb(255, 48, 64)" fill="rgb(255, 48, 64)" height="24" role="img" viewBox="0 0 48 48" width="24"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
                                                    </button>
                                                    <button class="bt_comment">
                                                        <svg aria-label="댓글 달기" class="_ab6-" color="rgb(38, 38, 38)" fill="rgb(38, 38, 38)" height="24" role="img" viewBox="0 0 24 24" width="24"><path d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></path></svg>
                                                    </button>
                                                    <button class="bt_share">
                                                        <svg aria-label="게시물 공유" class="_ab6-" color="rgb(38, 38, 38)" fill="rgb(38, 38, 38)" height="24" role="img" viewBox="0 0 24 24" width="24"><line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" x1="22" x2="9.218" y1="3" y2="10.083"></line><polygon fill="none" points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon></svg>
                                                    </button>
                                                    <button class="bt_save " onclick="icon_click(this, 'share')">
                                                        <svg aria-label="저장" class="_ab6-" color="rgb(38, 38, 38)" fill="rgb(38, 38, 38)" height="24" role="img" viewBox="0 0 24 24" width="24"><polygon fill="none" points="20 21 12 13.44 4 21 4 3 20 3 20 21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polygon></svg>
                                                        <svg aria-label="삭제" class="_ab6-" color="rgb(38, 38, 38)" fill="rgb(38, 38, 38)" height="24" role="img" viewBox="0 0 24 24" width="24"><path d="M20 22a.999.999 0 0 1-.687-.273L12 14.815l-7.313 6.912A1 1 0 0 1 3 21V3a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1Z"></path></svg>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <!--user_txt-->
                                        <div class="user_txt_contain">
                                            <div class="like"><b>seooo</b>님 <b>여러 명</b>이 좋아합니다</div>
                                            <div class="txt_content">
                                                <p>
                                                    <strong>seooo</strong> <!--유저아이디-->
                                                    날카로우나 열락의 구할 기쁘며,<br/>
                                                    무엇을 품고 방황하여도, 것이다.<br/>
                                                    곳이 별과 바이며, 군영과 고행을 끓는다.<br/>
                                                    인도하겠다는 할지니, 군영과 우리 수 끓는다.<br/>
                                                    산야에 청춘의 원대하고, 공자는 가장 부패뿐이다.<br/>
                                                    봄날의 있는 충분히 듣는다. 있을 동력은 황금시대를 위하여<br/>
                                                    <a href="#" class="hash">#일본</a> <a href="#" class="hash">#일본</a> <a href="#" class="hash">#일본</a> <a href="#" class="hash">#일본</a>
                                                </p>
                                            </div>
                                            <div class="txt_write">
                                                <textarea placeholder="댓글 달기..."></textarea>
                                                <button>게시</button>
                                            </div>
                                        </div>
                                        <!--//user_txt-->
                                    </div>
                                </li>
                            </ul>
                            <!--//list_st-->
                        </div>
                        <!-- //main_list -->
                    </section>

                    <!-- user_info -->
                    <div class="user_info"> <!--유저정보 보여주는 영역-->
                        <div class="me_box"> <!--내정보-->
                            <dl>
                                <dt>
                                    <a href="#">
                                        <div class="thumb" style="background-image: url('/images/img_profile.jpg');"></div>
                                    </a>
                                </dt>
                                <dd>
                                    <div>
                                        <a href="#">lesserafim_kazuha</a>
                                        <p>KAZUHA 카즈하 LE SSERAFIM</p>
                                    </div>
                                    <button>전환</button>
                                </dd>
                            </dl>
                        </div>
                        <div class="freind_recommend"><!--친구추천-->
                            <div class="top"><b>회원님을 위한 추천</b><a href="#">모두보기</a></div>
                            <dl>
                                <dt>
                                    <a href="#">
                                        <div class="thumb" style="background-image: url('/images/img_profile.jpg');"></div>
                                    </a>
                                </dt>
                                <dd>
                                    <div>
                                        <a href="#">sbeomkyu</a>
                                        <p>sh_yoon3님, _j._young2님 외 4명이 팔로우</p>
                                    </div>
                                    <button>팔로우</button>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <a href="#">
                                        <div class="thumb" style="background-image: url('/images/img_profile.jpg');"></div>
                                    </a>
                                </dt>
                                <dd>
                                    <div>
                                        <a href="#">sbeomkyu</a>
                                        <p>sh_yoon3님, _j._young2님 외 4명이 팔로우</p>
                                    </div>
                                    <button>팔로우</button>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <a href="#">
                                        <div class="thumb" style="background-image: url('/images/img_profile.jpg');"></div>
                                    </a>
                                </dt>
                                <dd>
                                    <div>
                                        <a href="#">sbeomkyu</a>
                                        <p>sh_yoon3님, _j._young2님 외 4명이 팔로우</p>
                                    </div>
                                    <button>팔로우</button>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <a href="#">
                                        <div class="thumb" style="background-image: url('/images/img_profile.jpg');"></div>
                                    </a>
                                </dt>
                                <dd>
                                    <div>
                                        <a href="#">sbeomkyu</a>
                                        <p>sh_yoon3님, _j._young2님 외 4명이 팔로우</p>
                                    </div>
                                    <button>팔로우</button>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <!-- // user_info -->
                </div>
                <!-- // content_contain -->
            <%- include('include/footer') %>