<!--
    날짜 : [2023-02-17]
    작성자 : 서범규

    comment :
    [ instagram 퍼블리싱입니다. ]

-->
<%- include('include/header') %>
<!-- content_contain -->
<div class="content_contain sub_page">

</div>
<!-- //content_contain -->
<%- include('include/footer') %>