<!--
    날짜 : [2023-02-17]
    작성자 : 서범규

    comment :
    [ instagram 퍼블리싱입니다. ]

-->
            <%- include('include/header') %>
                <!-- content_contain -->
                <div class="content_contain sub_page">
                    <div class="profile_info">
                        <dl>
                            <dt>
                                <div class="img_area">
                                    <div class="img_thumb" style="background-image: url(/images/img_profile.jpg);"></div>
                                </div>
                            </dt>
                            <dd>
                                <div class="top">
                                    <h2 class="name"><%= username %></h2>
                                    <a class="btn_st1 bg_blue" href="#">팔로우</a>
                                    <a class="btn_st1" href="#">메세지 보내기</a>
                                    <a class="btn_st1" href="#"><svg aria-label="아래쪽 V자형 아이콘" class="_ab6-" color="rgb(0, 0, 0)" fill="rgb(0, 0, 0)" height="16" role="img" viewBox="0 0 48 48" width="16"><path d="M32 25.5c5.2 0 9.5-4.3 9.5-9.5S37.2 6.5 32 6.5s-9.5 4.3-9.5 9.5 4.3 9.5 9.5 9.5zm0-16c3.6 0 6.5 2.9 6.5 6.5s-2.9 6.5-6.5 6.5-6.5-2.9-6.5-6.5 2.9-6.5 6.5-6.5zm5.5 19h-11c-5.5 0-10 4.5-10 10V40c0 .8.7 1.5 1.5 1.5s1.5-.7 1.5-1.5v-1.5c0-3.9 3.1-7 7-7h11c3.9 0 7 3.1 7 7V40c0 .8.7 1.5 1.5 1.5s1.5-.7 1.5-1.5v-1.5c0-5.5-4.5-10-10-10zm-20-4.5c0-.8-.7-1.5-1.5-1.5h-5.5V17c0-.8-.7-1.5-1.5-1.5s-1.5.7-1.5 1.5v5.5H2c-.8 0-1.5.7-1.5 1.5s.7 1.5 1.5 1.5h5.5V31c0 .8.7 1.5 1.5 1.5s1.5-.7 1.5-1.5v-5.5H16c.8 0 1.5-.7 1.5-1.5z"></path></svg></a>
                                    <a class="btn_st1 bg_none" href="#"><svg aria-label="옵션" class="_ab6-" color="rgb(38, 38, 38)" fill="rgb(38, 38, 38)" height="32" role="img" viewBox="0 0 24 24" width="32"><circle cx="12" cy="12" r="1.5"></circle><circle cx="6" cy="12" r="1.5"></circle><circle cx="18" cy="12" r="1.5"></circle></svg></a>
                                </div>
                                <div class="middle">
                                    <ul>
                                        <li>게시물 <span>394</span></li>
                                        <li>팔로워 <span>12만</span></li>
                                        <li>팔로우 <span>31</span></li>
                                    </ul>
                                </div>
                                <div class="bottom">
                                    <p class="name">KAZUHA 카즈하 LE SSERAFIM</p>
                                    <p class="content">For Le sserafim's swan  🦢<br>르세라핌 카즈하 팬 페이지<br>Fanpage / Not Impersonating <br>"Anti Fragile" MV ⬇️</p>
                                    <p><a href="https://www.youtube.com/watch?v=pyf8cbqyfPs&feature=youtu.be" target="_blank">youtu.be/pyf8cbqyfPs</a></p>
                                </div>
                            </dd>
                        </dl>
                    </div>

                    <ul class="profile_tap">
                        <li  onclick="tab(this);" class="on">
                            <svg aria-label="" class="_ab6-" color="rgb(142, 142, 142)" fill="rgb(142, 142, 142)" height="12" role="img" viewBox="0 0 24 24" width="12"><rect fill="none" height="18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="18" x="3" y="3"></rect><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="9.015" x2="9.015" y1="3" y2="21"></line><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="14.985" x2="14.985" y1="3" y2="21"></line><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="21" x2="3" y1="9.015" y2="9.015"></line><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="21" x2="3" y1="14.985" y2="14.985"></line></svg>
                            <svg aria-label="" class="_ab6-" color="rgb(38, 38, 38)" fill="rgb(38, 38, 38)" height="12" role="img" viewBox="0 0 24 24" width="12"><rect fill="none" height="18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="18" x="3" y="3"></rect><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="9.015" x2="9.015" y1="3" y2="21"></line><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="14.985" x2="14.985" y1="3" y2="21"></line><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="21" x2="3" y1="9.015" y2="9.015"></line><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="21" x2="3" y1="14.985" y2="14.985"></line></svg>
                            <span>게시물</span>
                        </li>
                        <li onclick="tab(this);" >
                            <svg aria-label="" class="_ab6-" color="rgb(142, 142, 142)" fill="rgb(142, 142, 142)" height="12" role="img" viewBox="0 0 24 24" width="12"><line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" x1="2.049" x2="21.95" y1="7.002" y2="7.002"></line><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="13.504" x2="16.362" y1="2.001" y2="7.002"></line><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="7.207" x2="10.002" y1="2.11" y2="7.002"></line><path d="M2 12.001v3.449c0 2.849.698 4.006 1.606 4.945.94.908 2.098 1.607 4.946 1.607h6.896c2.848 0 4.006-.699 4.946-1.607.908-.939 1.606-2.096 1.606-4.945V8.552c0-2.848-.698-4.006-1.606-4.945C19.454 2.699 18.296 2 15.448 2H8.552c-2.848 0-4.006.699-4.946 1.607C2.698 4.546 2 5.704 2 8.552Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path><path d="M9.763 17.664a.908.908 0 0 1-.454-.787V11.63a.909.909 0 0 1 1.364-.788l4.545 2.624a.909.909 0 0 1 0 1.575l-4.545 2.624a.91.91 0 0 1-.91 0Z" fill-rule="evenodd"></path></svg>
                            <svg aria-label="" class="_ab6-" color="rgb(38, 38, 38)" fill="rgb(38, 38, 38)" height="12" role="img" viewBox="0 0 24 24" width="12"><line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" x1="2.049" x2="21.95" y1="7.002" y2="7.002"></line><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="13.504" x2="16.362" y1="2.001" y2="7.002"></line><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="7.207" x2="10.002" y1="2.11" y2="7.002"></line><path d="M2 12.001v3.449c0 2.849.698 4.006 1.606 4.945.94.908 2.098 1.607 4.946 1.607h6.896c2.848 0 4.006-.699 4.946-1.607.908-.939 1.606-2.096 1.606-4.945V8.552c0-2.848-.698-4.006-1.606-4.945C19.454 2.699 18.296 2 15.448 2H8.552c-2.848 0-4.006.699-4.946 1.607C2.698 4.546 2 5.704 2 8.552Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path><path d="M9.763 17.664a.908.908 0 0 1-.454-.787V11.63a.909.909 0 0 1 1.364-.788l4.545 2.624a.909.909 0 0 1 0 1.575l-4.545 2.624a.91.91 0 0 1-.91 0Z" fill-rule="evenodd"></path></svg>
                            <span>릴스</span>
                        </li>
                        <li onclick="tab(this);" >
                            <svg aria-label="" class="_ab6-" color="rgb(142, 142, 142)" fill="rgb(142, 142, 142)" height="12" role="img" viewBox="0 0 24 24" width="12"><polygon fill="none" points="20 21 12 13.44 4 21 4 3 20 3 20 21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polygon></svg>
                            <svg aria-label="" class="_ab6-" color="rgb(38, 38, 38)" fill="rgb(38, 38, 38)" height="12" role="img" viewBox="0 0 24 24" width="12"><polygon fill="none" points="20 21 12 13.44 4 21 4 3 20 3 20 21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polygon></svg>
                            <span>저장됨</span>
                        </li>
                        <li onclick="tab(this);" >
                            <svg aria-label="" class="_ab6-" color="rgb(142, 142, 142)" fill="r gb(142, 142, 142)" height="12" role="img" viewBox="0 0 24 24" width="12"><path d="M10.201 3.797 12 1.997l1.799 1.8a1.59 1.59 0 0 0 1.124.465h5.259A1.818 1.818 0 0 1 22 6.08v14.104a1.818 1.818 0 0 1-1.818 1.818H3.818A1.818 1.818 0 0 1 2 20.184V6.08a1.818 1.818 0 0 1 1.818-1.818h5.26a1.59 1.59 0 0 0 1.123-.465Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path><path d="M18.598 22.002V21.4a3.949 3.949 0 0 0-3.948-3.949H9.495A3.949 3.949 0 0 0 5.546 21.4v.603" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path><circle cx="12.072" cy="11.075" fill="none" r="3.556" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle></svg>
                            <svg aria-label="" class="_ab6-" color="rgb(142, 142, 142)" fill="rgb(142, 142, 142)" height="12" role="img" viewBox="0 0 24 24" width="12"><path d="M10.201 3.797 12 1.997l1.799 1.8a1.59 1.59 0 0 0 1.124.465h5.259A1.818 1.818 0 0 1 22 6.08v14.104a1.818 1.818 0 0 1-1.818 1.818H3.818A1.818 1.818 0 0 1 2 20.184V6.08a1.818 1.818 0 0 1 1.818-1.818h5.26a1.59 1.59 0 0 0 1.123-.465Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path><path d="M18.598 22.002V21.4a3.949 3.949 0 0 0-3.948-3.949H9.495A3.949 3.949 0 0 0 5.546 21.4v.603" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path><circle cx="12.072" cy="11.075" fill="none" r="3.556" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle></svg>
                            <span>태그됨</span>
                        </li>
                    </ul>

                    <div class="profile_wrap">
                        <!-- 게시물 -->
                        <div class="profile_con" style="display: block;">
                            <ul class="grid_st2">
                                <li>
                                    <a href="#">
                                        <div class="img_thumb">
                                            <div class="img_con"style="background-image:url('/images/img_dummy01.jpg');"></div>
                                        </div>
                                        <div class="cover">
                                            <div class="hover_items">
                                                <span>12만</span> <span>120만</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="img_thumb">
                                            <div class="img_con"style="background-image:url('/images/img_dummy02.jpg');"></div>
                                        </div>
                                        <div class="cover">
                                            <div class="hover_items">
                                                <span>12만</span> <span>120만</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="img_thumb">
                                            <div class="img_con"style="background-image:url('/images/img_dummy03.jpg');"></div>
                                        </div>
                                        <div class="cover">
                                            <div class="hover_items">
                                                <span>12만</span> <span>120만</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="img_thumb">
                                            <div class="img_con"style="background-image:url('/images/img_dummy04.jpg');"></div>
                                        </div>
                                        <div class="cover">
                                            <div class="hover_items">
                                                <span>12만</span> <span>120만</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="img_thumb">
                                            <div class="img_con"style="background-image:url('/images/img_dummy02.jpg');"></div>
                                        </div>
                                        <div class="cover">
                                            <div class="hover_items">
                                                <span>12만</span> <span>120만</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="img_thumb">
                                            <div class="img_con"style="background-image:url('/images/img_dummy04.jpg');"></div>
                                        </div>
                                        <div class="cover">
                                            <div class="hover_items">
                                                <span>12만</span> <span>120만</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="img_thumb">
                                            <div class="img_con"style="background-image:url('/images/img_dummy04.jpg');"></div>
                                        </div>
                                        <div class="cover">
                                            <div class="hover_items">
                                                <span>12만</span> <span>120만</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="img_thumb">
                                            <div class="img_con"style="background-image:url('/images/img_dummy04.jpg');"></div>
                                        </div>
                                        <div class="cover">
                                            <div class="hover_items">
                                                <span>12만</span> <span>120만</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- //게시물 -->

                        <!-- 릴스 -->
                        <div class="profile_con">
                            <ul class="grid_st3">
                                <li>
                                    <a href="#">
                                        <div class="img_thumb">
                                            <div class="img_con"style="background-image:url('/images/img_video_thumb.jpg');"></div>
                                        </div>
                                        <div class="cover">
                                            <div class="hover_items">
                                                <span>12만</span> <span>120만</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="img_thumb">
                                            <div class="img_con"style="background-image:url('/images/img_video_thumb.jpg');"></div>
                                        </div>
                                        <div class="cover">
                                            <div class="hover_items">
                                                <span>12만</span> <span>120만</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="img_thumb">
                                            <div class="img_con"style="background-image:url('/images/img_video_thumb.jpg');"></div>
                                        </div>
                                        <div class="cover">
                                            <div class="hover_items">
                                                <span>12만</span> <span>120만</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="img_thumb">
                                            <div class="img_con"style="background-image:url('/images/img_video_thumb.jpg');"></div>
                                        </div>
                                        <div class="cover">
                                            <div class="hover_items">
                                                <span>12만</span> <span>120만</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="img_thumb">
                                            <div class="img_con"style="background-image:url('/images/img_video_thumb.jpg');"></div>
                                        </div>
                                        <div class="cover">
                                            <div class="hover_items">
                                                <span>12만</span> <span>120만</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- //릴스 -->

                        <!-- 저장됨 -->
                        <div class="profile_con"></div>
                        <!-- //저장됨 -->

                        <!-- 태그됨 -->
                        <div class="profile_con">
                            <ul class="grid_st2">
                                <li>
                                    <a href="#">
                                        <div class="img_thumb">
                                            <div class="img_con"style="background-image:url('/images/img_dummy01.jpg');"></div>
                                        </div>
                                        <div class="cover">
                                            <div class="hover_items">
                                                <span>12만</span> <span>120만</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                        </div>
                        <!-- //태그됨 -->

                    </div>
                </div>
                <!-- content_contain -->
                <script>
                    function tab(v){
                        let idx = $(v).index()+1;
                        
                        $(v).addClass('on').siblings().removeClass('on');
                
                        $('.profile_wrap .profile_con').css('display','none');
                        $('.profile_wrap .profile_con:nth-of-type('+(idx)+')').css('display', 'block');
                    }
                
                    
                </script>
            <%- include('include/footer') %>